@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to bottom,
    #5984eb 0%,
    #213970 50%,
    #b297f0 50%,
    #210070 100%
  );
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  color: white;
}

nav {
  background-color: white;
  padding: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 8px 10px rgb(17, 73, 228);
  transform: width 0.6s linear;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}
nav.active ul {
  width: 100%;
}

nav.active {
  width: 350px;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform o.6s linear, opacity 0, 6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul li a {
  position: relative;
  text-decoration: none;
  margin: 0 10px;
  color: rgb(0, 0, 0);
}

.icon {
  background-color: white;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: relative;
  height: 30px;
  width: 30px;
}
.icon:focus {
  outline: 0;
}
.icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}
